<h2>Jobs</h2>
<div class="container jobs">
  <% flash.each do |type, message| %>
    <div class="alert alert-success" role="alert">
      <%= message %>
    </div>
  <% end %>

  <% @jobs.each do |job| %>
    <%= render "job_item", job: job %>
  <% end %>
</div>